@import url("https://fonts.googleapis.com/css2?family=Catamaran&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
}

:root {
  --colorText: #ffff;
  --colorBg: #1d1e22;
  --linkHover: rgb(94 234 212);
  --colorTextOnTyping: #adadac;

  --borderBottomColor: 1px solid #282931;
  --borderColor: #555;

  --fontFamily: "Catamaran", "Poppins", sans-serif;

  --opacityH: 0.7;
  --opacityP: 0.6;
}

body {
  color: var(--colorText);
  font-family: var(--fontFamily);
  background-color: var(--colorBg);
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: default;
  transition: all 300ms;
}


a:last-child {
  margin-right: 35px;
}

span {
  color: rgb(94 234 212);
  font-weight: 800;
}

nav .active {
  font-weight: bold;
  color: var(--linkHover);
}

.about,
.work,
.contact {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/* CONTACT */
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

form {
  width: 70%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

#name,
#messages {
  background: transparent;
  border: none;
  color: var(--colorTextOnTyping);
  border-bottom: 1px solid var(--borderColor);
  font-family: var(--fontFamily);
  font-size: 20px;
}

#name {
  height: 50px;
  width: 100%;
}

#messages {
  width: 100%;
  min-height: 100px;
  resize: none;
}

#name:focus,
#messages:focus {
  outline: none;
  border-bottom: 2px solid var(--borderColor);
}

.footer {
  margin-top: 100px;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer .social {
  display: flex;
  gap: 50px;
}

.footer p {
  margin-left: 25px;
}

/* SCROLLBAR AND INPUT WEBKIT */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--colorTextOnTyping);
  -webkit-box-shadow: 0 0 0px 1000px var(--colorBg) inset;
  -webkit-text-stroke-color: var(--colorTextOnTyping);
  transition: background-color 5000s ease-in-out 0s;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #282931;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--borderColor);
}
